{% extends 'layouts/base.html' %} 

{% block title %} Profile {% endblock %}
{% block content %} 


<div
  class="header pb-6 d-flex align-items-center"
  style="
    min-height: 500px;
    background-image: url(/static/assets/img/theme/cics.jpg);
    background-size: cover;
    background-position: center top;
  "
>
  <span class="mask bg-gradient-default opacity-8"></span>

  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">
          {{ student.last_name }}, {{ student.first_name}}
        </h1>
        <br /><!-- 
        <p class="text-white mt-0 mb-5">College of Information</p> -->
        <a href="#!" class="btn btn-neutral">View Attendance</a>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  
  <div class="row">
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <img
          src="/static/assets/img/theme/cics-cover.jpg"
          alt="Image placeholder"
          class="card-img-top"
        />
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img
                  src="/static/assets/img/theme/team-1.jpg"
                  class="rounded-circle"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
            <a href="#" class="btn btn-sm btn-default float-right">Message</a>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Subjects</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Late</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Absents</span>
                </div>
              </div>
            </div>
          </div>
          <!--           <div class="text-center">
            <h5 class="h3">
              {{ request.user.username }}
            </h5>
            <div class="h5 font-weight-300">
              {{ request.user.email }}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer Science
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Student Information</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">{{ student.student_id}}</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <!-- 
            <h6 class="heading-small text-muted mb-4">Student information</h6> -->
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name"
                      >First name</label
                    >
                    <input
                      type="text"
                      id="input-first-name"
                      class="form-control"
                      placeholder="First name"
                      value="{{ student.first_name}}"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name"
                      >Last name</label
                    >
                    <input
                      type="text"
                      id="input-last-name"
                      class="form-control"
                      placeholder="Last name"
                      value="{{ student.last_name}}"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email"
                      >Email address</label
                    >
                    <input
                      type="email"
                      id="input-email"
                      class="form-control"
                      placeholder=""
                      value="{{ student.email }}"
                    />
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username"
                      >Section</label
                    >
                    <input
                      type="text"
                      id="input-username"
                      class="form-control"
                      placeholder="Username"
                      value="{{ student.block_year}}"
                    />
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address"
                      >Address</label
                    >
                    <input
                      id="input-address"
                      class="form-control"
                      placeholder="Home Address"
                      value="{{ student.address}}"
                      type="text"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city"
                      >Phone Number</label
                    >
                    <input
                      type="text"
                      id="input-city"
                      class="form-control"
                      placeholder="City"
                      value="{{ student.contact_number}}"
                    />
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <!--             <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label class="form-control-label">About Me</label>
                <textarea rows="4" class="form-control" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
              </div>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-4" />

  <div class="container-fluid">
    <div class="row">

      {% for subject, attendance_records in attendance_data.items %}
        <div class="col-xl-6">
            <div class="card bg-default shadow">         
              <div class="card-header bg-transparent border-0">
                <div class="row align-items-center">
                    <div class="col">
                      <h3 class="text-white mb-0 text-capitalize"> {{ subject.subject.name }} : {{ subject.block_year.block }} - {{ subject.block_year.year }} </h3>
                    </div>
                    <div class="col text-right">
                      <a href="#!" class="btn btn-sm btn-primary">{{ subject.day }}</a>
                    </div>
                  </div>
                </div>
              <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-dark table-flush">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Date</th>
    
                      <th scope="col">Time-in</th>
                      <th scope="col">Time-out</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for attendance in attendance_records %}
                      <tr>
                        <th scope="row">{{ attendance.created|date }}</th>
                        <td>{{ attendance.time_in|time}}</td>
                        <td>{{ attendance.time_out|time}}</td>
                        <td>
                          <span class="badge badge-dot mr-4">
                            <i class="bg-warning"></i>
                            <span class="status">{{ attendance.status}}</span>
                          </span>
                        </td>
                        <td class="text-right">
                          <div class="dropdown">
                            <a
                              class="btn btn-sm btn-icon-only text-light"
                              href="#"
                              role="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div
                              class="dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                            >
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#"
                                >Something else here</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

      {% endfor %}

     
    </div>
  </div>

  {% include "includes/footer.html" %}
</div>

{% endblock %}
